:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
/*Body*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  background-color: var(--color-white);
}
.linc {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*heder*/
.text-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.text-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.text-logo-stdio-top {
  font-family: "Raleway", sans-serif;
  color: var(--color-navy-blue);
}
.text-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
/* Titel-1 */
.background-titel {
  background-color: var(--color-grey);
}
.text-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */
  color: var(--color-white);
}

/*batton-studio*/
.text-button-studio {
  /* Button Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: #ffffff;
}
.text-button-studio-portfolio:hover,
.text-button-studio-portfolio:focus {
  color: var(--color-ocean);
}
.text-buttons-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  /* IRIS */
  color: #4d5ae5;
}
/*footer*/

.text-logo-stdio-footer {
  font-family: "Raleway";
  /* CLOUD */
  color: #f4f4fd;
}
